html {
    background-color: #91c499;
    font-family: 'Permanent Marker', cursive;
    color: #36393B;
    font-size: 35px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.game-board {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;


}

.display-player {
    -webkit-text-stroke: 2px black;
}


.game-grid {
    width: 500px;
    height: 500px;
    margin: 15px;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
    background-color: #36393B;
    border-radius: 10px;


}

.squares {
    width: 150px;
    height: 150px;
    background-color: #a5d8ff;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;


}

.square-text {
    text-align: center;
    font-size: 100px;
    -webkit-text-stroke: 2px #fcefe8;

}

.basic {
    height: 150px;
    width: 150px;

}

.player1 {
    background-color: #F06C9B;

}

.player2 {
    background-color: #F9B9B7;
}